{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="hidden" name="access_key" value="31bb6c0f-9133-48f0-b4c1-6ed3b01eb4a5">
          <!-- 基本信息 -->
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control mb-3" id="name" name="name" placeholder="{{ i18n `yourname` }}" required>
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="{{ i18n `youremail` }}" required>
            </div>
          </div>

          <!-- 了解渠道 -->
          <div class="form-group mb-3">
            <label for="channel">{{ i18n `channel` }}</label>
            <select class="form-control" id="channel" name="channel" required>
              <option value="">{{ i18n `channel` }}</option>
              <option value="friend">{{ i18n `channel_friend` }}</option>
              <option value="search">{{ i18n `channel_search` }}</option>
              <option value="social">{{ i18n `channel_social` }}</option>
              <option value="other">{{ i18n `channel_other` }}</option>
            </select>
          </div>

          <!-- 主题和留言 -->
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}" required>
          <textarea name="message" id="message" class="form-control mb-3" placeholder="{{ i18n `yourmessage` }}" rows="4" required></textarea>

          <!-- 蜜罐陷阱 -->
          <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

          <!-- 重定向 -->
          <input type="hidden" name="redirect" value="{{ .Site.BaseURL }}contact/thank-you">

          <button type="submit" class="btn btn-primary">{{ i18n `sendnow` }}</button>
            </form>
          </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}